.text-center {
    text-align: center;
}

.regFormContainer {
    /* width: 400px; */
    background-color: #D4F1F4;
    padding: 15px;
    border-radius: 20px;
    margin: 0 100px;
}

.logoContainer {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1;
}

.regFormContainer label {
    text-transform: capitalize;
}

.container .wrapper input {}

#dob select,
#passexpire select {
    width: 20% !important;
    margin-right: 10px;
}

#dob select:first-child,
#passexpire select:first-child {
    margin-left: 12px;
}